button(_normal, _hover)
  color gray
  background-color _normal
  border-radius 3px
  padding 10px
  margin 0px
  text-decoration none
  &:hover
    color white
    background-color _hover
  &.disabled
    pointer-events none
    cursor default

