@require "jeet"

html, body
  height 100%

html
  position relative
  min-height 100%
  
body
  margin 0
  font-family: Montserrat,"Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
  font-weight 300
  font-size 15px
  background-color bg_color
  display table
  width 100%

.page-row
  display table-row
  height 1px

header, .container
  max-width md_size
  width 90%
  margin 0 auto

header
  margin 20px auto
  h1
    display inline-block
    margin 0
    a
      color text_color
      &:visited
        color text_color
  nav
    display inline-block
    float right
    li
      list-style-type none
  a, a:visited
    color csi_color
    text-decoration none

.content
  padding-bottom 20px

.main-wrapper
  @extend .page-row
  height 100%

footer
  @extend .page-row
  background-color accent_color
  text-align center
  margin-top 2em
  p
    padding 10px
    margin 0

p 
  color text_color

a
  color csi_color
  text-decoration none
  &:visited
    color visited_color 

.container
  margin 0 auto
  width 90%

.color-csi
  color csi_color

.color-pink
  color pink_color
  
//@media (min-width sm_size)
//@media (min-width md_size)
//@media (min-width lg_size)
