.author-bio
  color csi_color
  display block
  font-style italic

.resource-list
  li
    padding-bottom 1em

.resource-post
  p, ul, li, a
    font-family 'Roboto Slab',"Helvetica Neue",Helvetica,Roboto,Arial,sans-serif
