.author-bio
  color csi_color
  display block
  font-style italic

.resource-list
  li
    padding-bottom 1em

.line-divider
  border-top 1px solid csi_color

.post-author-info
  padding 1em 0

.post-author-bio
  font-family 'Roboto Slab',"Helvetica Neue",Helvetica,Roboto,Arial,sans-serif
  padding 1em 0

.track-tech
  color mute_color