sm_size = 568px
md_size = 768px
lg_size = 1024px
xl_size = 1280px
total-width = 100%

csi_color = #24B3C8
visited_color = #17727F
text_color = #333
mute_color = #666
pink_color = #f77380
accent_color = #E6E7E9

font_main = Montserrat,"Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
font_article = 'Roboto Slab',"Helvetica Neue",Helvetica,Roboto,Arial,sans-serif